body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    background-color: white;
    color: #333;
    font-size: 0.9em; 
}
div {
    border-color: blue; 
    border-width: 0px ;
    border-style: solid ;
 /*   background-color: gray; */
    margin: 10px ;
    padding: 0px;
/*    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6); */
}
h1 {
    background-color:white;
    padding: 5px;
}
h3 {
    background-color:#8f8a8a6f;
    padding: 5px;
    text-align: center;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
    font-weight:normal ;
}
button{
    /*  width: 100%;        */
    /*  font-weight: bold ; */
    font-size: 120%;
    color: #2b2e63 ;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
    border-width: 0px ;
}
button:hover {
    background-color: yellowgreen;
}
table {
    border-width: 0px ;
    border-style: solid ;
    width: 100% ;
    border-spacing: 4px;
}
td {
   border-style: solid ;
   border-width: 0px;
   border-color: gray;
   padding: 5px ;
   background-color: #eee;
   color: darkgoldenrod;
   box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
}
div.main-div {
    margin: 50px ;
}
td.title {
    background-color: white;
    color: #2b2e63; 
} 
/*
 *  SERVER TABLE
 */
#server-frame {
    font-size: 1em;
}
.server-button {
    padding: 5px 10px; /* Ensure buttons are only as big as their text */
    font-size: 1.3em; /* Maintain a readable font size */
    flex-shrink: 0; /* Prevent buttons from shrinking */  
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
    width: 100% ;
}
div#server-container {
    display: flex;
    flex-wrap: wrap; /* Enable wrapping to the next line */
    gap: 2px;     /*    Optional: add space between buttons */
    margin: 2px ;
}
.button-table {
    padding: 0px 0px;
    width: 0px ;
}
button.control {
    width: 100%;
}
button.button-cell {
    width: 100%;
}
td.description {
    white-space: nowrap;
    text-align: center;
    color: rgba(125, 16, 16, 0.848);
}
div#data-container {
 /*   background-color: orange ; */
    display:flex;
    margin: 10px ;
}
div#schema-frame {
    /*    background-color: blue ; */
    font-size: 1em ;
}
div#schema-container {
/*   background-color: orangered ; */
    margin: 10px ;
}

div#directory-container {
 /*   background-color: green ; */
    flex: 1 ;
    margin: 10px ;
}
div#detail {
    background-color: #eee ;
    flex: 5 ;
    margin: 10px ;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
}
div#list-container {
    flex: 3 ;
    margin: 10px ;
}
div#button-table-div {
    margin: 10px ;
}
table#header-table{
   border: 0px ;
}
/*
 * The top header table
 */
td#header-left {
   background-color: white;
   padding: 0;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
}
td#header-right {
   background-color: white;
   padding: 0;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
   text-align: right;
}
td#header-center {
   background-color: white;
   box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
}
td.button-cell {
    background-color: white;
    box-shadow: 0px 0px 0px;
}
td#title {
    color: #2b2e63;  
    font-weight: bold ;
}
h4#errorMessage{
    color:red;
}
/* Responsive Table Design */
@media screen and (max-width: 1000px) {
    /*
    table, thead, tbody, th, td, tr {
        display: block;
    }

    th, td {
        padding: 8px;
        text-align: right;
    }
    div#detail {
        background-color: #eee ;
        margin: 10px ;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.6);
    
    }
    div#list-container {
        margin: 10px ;
    }
    */
}       

